uuid
redis
torch
Flask
PyPDF2
pymongo
openpyxl
langchain
faiss-cpu
Flask-CORS
python-docx
Flask[async]
transformers
scikit-learn
python-dotenv
langchain_core
langchain_ollama
langchain-openai
pinecone-notebooks
langchain-pinecone
langchain-community